body {
    margin-top: 0px;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 0px;
    font-size: 12px;
    text-align: center;
}

tr {
    align: center
}

td {
    font-size: 12px;
    color: #414141;
    line-height: 22px;
    align-content: center;
}

#menu-bg1 {
    background-image: url(menu-bg1.gif);
    height: 33px;
    overflow: hidden;
    color: #FFFFFF;
    padding-top: 3px;
}

#logo {
    float: left;
    padding-left: 30px;
    padding-top: 5px;
}

#menu {
    padding-top: 35px;
    text-align: right;
    padding-right: 20px;
}

.index-input {
    border: 1 #efefef solid;
    height: 15px;
    width: 120px;
    font-size: 11px;
}

.index-btn {
    border: 0;
    background: none;
    background-image: url(login.gif);
    overflow: hidden;
    height: 20px;
    width: 46px;
}

.register-input {
    border-left: 1 #666666 solid;
    border-top: 1 #666666 solid;
    border-right: 1 #cccccc solid;
    border-bottom: 1 #cccccc solid;
    width: 160px;
    height: 22px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.index-btn1 {
    border: 0;
    background-image: url(search.gif);
    width: 70px;
    height: 30px;
    overflow: hidden;
    cursor: pointer;
}